blinker==1.9.0
cachelib==0.9.0
click==8.1.8
colorama==0.4.6
dnspython==2.7.0
email-validator==2.1.0.post1
et_xmlfile==2.0.0
Flask==2.3.3
Flask-Caching==2.0.2
Flask-Login==0.6.2
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.1.1
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
numpy==2.2.4
openpyxl==3.1.2
packaging==24.2
pandas==2.2.3
psutil==7.0.0
psycopg2-binary==2.9.10
pyOpenSSL==24.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
pytz==2025.1
redis==4.6.0
reportlab==4.1.0
six==1.17.0
SQLAlchemy==2.0.39
typing_extensions==4.12.2
tzdata==2025.1
Werkzeug==2.3.7
WTForms==3.2.1
xlsxwriter==3.2.2
# إضافات لدعم النشر على منصة Render
whitenoise==6.7.0  # لتقديم الملفات الثابتة
pg8000==1.30.4  # لزيادة توافق PostgreSQL
